<div class="p-6 max-w-lg mx-auto bg-white shadow-lg rounded-lg mt-6">
    <h2 class="text-2x1 font-semibold text-gray-700 mg-4">Nova Categoria</h2>
    <form id="categoriaForm" [formGroup]="camposForm" (ngSubmit)="salvar()">
        <div class="mb-4">
            <label class="block text-gray-600 font-medium mb-2">Nome</label>
            <input type="text" id="nome" placeholder="Ex: Restaurantes, praias, shopping"
                class="w-full p-3 border border-gray-300 rounded shadow focus:ring focus:ring-blue-400"
                required
                formControlName="nome"/>
            <span class="text-red-500 text-sm" *ngIf="isInvalidField('nome')">Campo obrigatorio</span>
        </div>
        <!-- campo descricao-->
        <div class="mb-4">
            <label class="block text-gray-600 font-medium mb-2">Descrição</label>
            <textarea 
                id="descricao"
                name="descricao"
                rows="4"
                placeholder="Ex: Restaurantes, praias, shopping"
                class="w-full p-3 border border-gray-300 rounded shadow focus:outline-none focus:ring-blue-400"
                required
                formControlName="descricao">
            </textarea>
            <span class="text-red-500 text-sm" *ngIf="isInvalidField('descricao')">Campo obrigatorio</span>
        </div>
        <button type="submit" class="w-full bg-blue-600 text-white font-semibold p-3 rounded shadow hover:bg-blue-700">
            Cadastrar
        </button>
    </form>
</div>
